[package]
name = "client"
authors = ["Aleksandr \"Flone\" Tretyakov"]
version = "1.0.0"
edition = "2021"
license = "MIT"

[dependencies]
druid = { git = "https://github.com/linebender/druid.git" }
rdev = "0.5.1"
configparser = "3.0.0"
opener = "0.5.0"