[package]
name = "client"
authors = ["Aleksandr Tretyakov"]
version = "1.0.1"
edition = "2021"
license = "MIT"

[dependencies]
druid = { git = "https://github.com/linebender/druid.git" }
rdev = "0.5.1"
configparser = "3.0.0"
opener = "0.5.0"
aes = "0.7.4"
block-modes = "0.8.1"
rand = "0.8.3"
num-bigint = {version = "0.4.2", features = ["serde", "rand"]}
serde = {version = "1.0.130", features = ["derive"]}
bincode = "1.3.3"
cmac = "0.6.0"
chrono = "0.4.19"
sha2 = "0.10.1"
image = "0.24.2"
base64 = "0.13.0"
native-dialog = {version = "0.6.3", features = ["windows_dpi_awareness", "windows_visual_styles"]}

[target.'cfg(windows)'.dependencies]
platform-dirs = "0.3.0"
